.single-drop-down-parent{
    margin: auto;
    display: flex;
    flex-direction: column;


    .open-button{
        display: flex;
        border: 2px solid #DFDFDF;
        border-radius: 0.28571rem;
        cursor: pointer;

        max-width: 150px;
        padding: 5px;

        span {
            max-width: 120px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: inline-block;
        }
        div {
            margin-left: 10px;
        }
    }

    .menu {
        position: absolute;
        margin-top: 34px;
        border: 2px solid #DFDFDF;
        border-radius: 0.28571rem;
        display: flex;
        flex-direction: column;

        .menu-body {
            position: relative;
            margin: 7px 0;
            margin-top: 0;
            min-height: 150px;
            max-height: 200px;
            overflow: auto;

            .selected {
                background: #F0F0F0;
            }

            .menu-option {
                padding: 2px 0;
                :hover {
                    background: #F0F0F0;
                }

                .option-item {

                    .label {
                        white-space: nowrap;
                        width: 80%;
                        padding: 0 15px;
                        cursor: pointer;
                        overflow: hidden;
                        display: inline-block !important;
                        text-overflow: ellipsis;
                        padding-top: 1px;
                    }
                }
            }

        }
    }
}